<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
	<div class="container">
		<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			
			<p class="text-center">Registration</p>
			
			<form>
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input name="" class="form-control" placeholder="Your Name" type="text">
			</div> <!-- form-group// -->
			
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
				 </div>
				<input name="" class="form-control" placeholder="Email address" type="email">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				
				<input name="" class="form-control" placeholder="Birth" type="date" style="margin-right: 10px;">
				<select class="form-control" style="max-width: 100px;">
					<option selected="">Male</option>
					<option value="1">Female</option>
					<option value="2">Others</option>
					
				</select>
				
				
			</div> <!-- form-group// -->

			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
				</div>
				
				<input name="" class="form-control" placeholder="(999)999-9999 Your Contact Info."  type="text">
			</div> <!-- form-group// -->


			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
				</div>
				
				<input name="" class="form-control" placeholder="(999)999-9999 Emrgency Contact"  type="text">
			</div> <!-- form-group// -->



			<div class="form-group input-group">
				
				<textarea class="form-control" name="" id="" cols="30" rows="2" placeholder="Address"></textarea>
			</div> <!-- form-group// -->




			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input name="" class="form-control" placeholder="Education" type="text">
			</div> <!-- form-group// -->



			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-building"></i> </span>
				</div>
				<select class="form-control">
					<option selected="">Single</option>
					<option>Married</option>	
				</select>
			</div> <!-- form-group end.// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input name="" class="form-control" placeholder="College Name" type="text">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-building"></i> </span>
				</div>
				<select class="form-control">
					<option selected="">Trainee</option>
					<option>Designer</option>
					<option>Manager</option>
					<option>Accaunting</option>
				</select>
			</div> <!-- form-group end.// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input name="" class="form-control" placeholder="Secret code for attendance" type="password">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" placeholder="Password" type="password">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" placeholder="Confirm Password" type="password">
			</div> <!-- form-group// -->                                      
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Register  </button>
			</div> <!-- form-group// -->      
			<p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
		</form>
		</article>
		</div> <!-- card.// -->
		
		</div> 
		<!--container end.//-->
		
</body>
</html>